<h2> Hours </h2>
<h4> Sun & Mon: Closed </h4>
<h4> Tue - Fri: 9:30 AM - 6:00 PM </h4>
<h4> Sat: 9:30 AM - 4:00 PM </h4>
<br>
<h2> Calendar </h2>
<h4> Please check for our availability here! </h4>
<div class="responsive-iframe-container">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=hillsbarber.com_4vpkeaib1mc63qt93rcl3j5g38%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
