<!DOCTYPE html>
<html lang="en" ng-app="hillsbarberApp">
<!--<html lang="en">-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hill's Barbershop</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="static/script.js"></script> 
  </head>

  <body ng-controller="mainController">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Hill's Barbershop</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#rates">Rates</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="#calendar">Hours</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!--Content is dynamically populated here using Jinja-->
          {% block content %}{% endblock %}
          <!--
          <div class="inner cover">
              this jinja text be {{ text }}
              <br>
              this customized angular message be [[ message ]]
          </div>
          --> 

          <div ng-view></div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Commenting this out
        <script src="../../dist/js/bootstrap.min.js"></script>
        -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    -->
  </body>
</html>

